*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1440px;
}
body{
    background-color: black;
}
.overlay{
background: linear-gradient(-270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 39.51%, rgba(0, 0, 0, 0) 60.42%, rgba(0, 0, 0, 0) 100%);

}
.headding{
  background-color: black;
  display: flex;
  align-items: center;
  
}
.headding .logo{
    padding-left: 85px;
    

}
.headding .main_menu nav{
    padding-left: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
 
}
.headding .main_menu a{
   text-decoration: none;
   color: #ffff;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   
  


}
.headding .icons{
    padding-left: 300px;
    padding-right: 85px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    

}
.banner{
    background-image: url(./Home_Page_Images/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 466px;
    padding-left: 112px;
    padding-right: 600px;
}
.banner h1{
    color: #ffff;
    font-weight: 600;
    font-size: 66px;
    line-height: 96px;

}
.banner h1 span{
    display: block;
}
.banner p{
    font-size: 20px;
    line-height: 30px;
    color: #ffff;
    padding-top: 10px;
    padding-right: 110px;
}
.banner button{
    border: none;
    background: none;
    padding-top: 40px;
    
}
.banner a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: black;
    background-color: #ffff;
    border-radius: 50px;
    padding: 20px 50px;
}
.details_heading{
 display: flex;
 justify-content: center;
 padding-top: 150px;
 padding-bottom: 70px;
}
.details_heading h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #ffff;
    padding-left: 300px;
}
.details_heading p{
    font-size: 20px;
    line-height: 30px;
    color: #ffff;
    padding-left: 290px;
    padding-right: 290px;
}
.details_video_and_peragraph{
    max-width: 1170px;
    height: 430px;
    display: flex;
    gap: 87px;
    
  
    
}
.details_video_and_peragraph .details_peragraph p{
    width: 513px;
    height: 430px;
    color: #eeee;
    font-size: 18px;
    line-height: 30px;
    padding-left: 135px;
    
}
.details_video_and_peragraph .details_peragraph p a{
    text-decoration: none;
    font-weight: 600;
    color: #ffff;
    font-size: 18px;
    line-height: 30px;
}

 .details_video_and_peragraph .details_video .video_image{
    background-image: url(./Home_Page_Images/image\ 1102.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 430px;
    width: 570px;
    border-radius: 10px;
   
 }
 .details_video_and_peragraph .details_video .video_image img{
   cursor: pointer;
   display: flex;
  justify-self: center;
  padding-top: 30%;
  
  
 }
 .product_gallery{
   
 }
 .product_gallery .product_gallery_Heading h2{
    color: #ffff;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    padding-top: 150px;
    justify-self: center;
 }
 .product_gallery .product_gallery_menu nav {
   padding-top: 40px;
   padding-bottom: 80px;
   justify-self: center;
   display: flex;
   gap: 104px;
   
   
 }
  .product_gallery .product_gallery_menu nav a{
    display: inline-block;
   padding: 3px 8px;
    text-decoration: none;
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
   .product_gallery .product_gallery_menu nav a:hover{
   border-bottom: 3px solid white;
   border-radius: 10px;
   }
   .section_04{
    padding-left: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    
   }

.food_items{
    
    align-items: center;
    justify-items: center;
    height: 442px;
    width: 370px;
    background-color: #191919;
    border-radius: 10px;    
}
.food_items .food_image{
    height: 236px;
    width: 330px;
    padding-bottom: 20px;
}
.food_items .food_image img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.food_items .food_details{
    height: 146px;
    width: 330px;



}
.food_items .food_details h3{
    color: #ffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 10px;
}
.food_items .food_details p{
    color: #ffff;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 10px;
}
.food_items .food_details .food_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 225px;
}
.food_items .food_details .food_price p{
    color: #ffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}
.food_items .food_details .food_price .cart_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}
.food_items .food_details .food_price .cart_icon img{
   
height: 20px;
width: 20px;
}
#food_section_02{
    padding-left: 70px;
    padding-top: 40px;
    display: flex;
}
.see_all{
    padding-top: 80px;
    padding-bottom: 150px;
   justify-self: center;
   
   
}
.see_all button{
    background: white;
    border: none;
    width: 168px;
    height: 68px;
    border-radius: 50px;
}
.see_all button a{
    text-decoration: none;
    color: black;
    width: 60px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
}
.section_05 .rating{
    padding-bottom: 150px;
}

.section_05 .rating h3{
    justify-self: center;
    color: #ffff;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    padding-bottom: 60px;
}
.section_05 .popularity{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.section_05 .popularity .happy_customer h1{
    color: #ffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}
.section_05 .popularity .happy_customer p{
    color: #ffff;
    line-height: 30px;
    font-size: 18px;
}
.section_05 .popularity .Customer_Satisfaction h1{
     color: #ffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;

}
.section_05 .popularity .Customer_Satisfaction p{
     color: #ffff;
    line-height: 30px;
    font-size: 18px;

}
.section_05 .popularity .Our_Branches h1{
     color: #ffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;

}
.section_05 .popularity .Our_Branches p{
     color: #ffff;
    line-height: 30px;
    font-size: 18px;

}
.section_05 .popularity .Total_Employees h1{
     color: #ffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;

}
.section_05 .popularity .Total_Employees p{
     color: #ffff;
    line-height: 30px;
    font-size: 18px;

}
.section_06 .Franchisee .Franchisee_heading h2{
    padding-left: 300px;
    padding-right: 200px;
    justify-self: center;
    color: #ffff;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px; 
}
.section_06 .Franchisee .Franchisee_heading p{
    color: #ffff;
    font-size: 20px;
    line-height: 30px;
    padding-left: 120px;
    padding-right: 100px;
    padding-bottom: 60px;
    
}
.section_06 .Franchisee .Franchisee_button{
    justify-self: center;
    padding-bottom: 150px;
}
.Franchisee .Franchisee_button button{
    height: 68px;
    width: 294px;
   border: none;
   border-radius: 50px;  
}
.section_06 .Franchisee .Franchisee_button button a{
    background-color: #ffff;
    background: none;
    text-decoration: none;
    color:black ;
    height: 28px;
    width: 186px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px

}
.section_07 .clients_reviews .clients_reviews_heading h3{
    color: #ffff;
    justify-self: center;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 70px;
}
.section_er_bap{
    padding-left: 70px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.section_08 {
    display: flex;
    height: 371px;
    width: 370px;
    background-color: #191919;
    border-radius: 10px;
}
.section_08 .reviews_details{
    padding-left: 30px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.section_08 .reviews_details .avatar{
    overflow: hidden;
    height: 74px;
    width: 74px;

}
.section_08 .reviews_details .avatar_name h4{
    color: #ffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;    
}
.section_08 .reviews_details .avatar_name p{
    color: #ffff;
    font-size: 14px;
    line-height: 22px;
}
.section_08 .about_test {
    color: #ffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.Subscribe{
    background-color: #ffff;
}
.Subscribe .Subscribe_hadding{
    justify-self: center;
    padding-bottom: 50px;
}
.Subscribe .Subscribe_hadding h2{
    color: black;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
}
.Subscribe .input_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 80px;
}
.Subscribe .input_bar .input_box form input{
    height: 68px;
    width: 530px;
    border-radius: 50px;
    border: 1px solid black;
}
.Subscribe .input_bar .input_box form input::placeholder{
    height: 28px;
    width: 100px;
    color:black ;
    padding-left: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.Subscribe .input_bar .Subscribe_button button{
    border: none;
    background: none;
    height: 68px;
    width: 198px;
    background-color: black;
    border-radius: 50px;


}
.Subscribe .input_bar .Subscribe_button button a{
    text-decoration: none;
    color: #ffff;
    width: 90px;
    height: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.map {
    display: flex;
    gap: 145px;
}
.map .Restaurant_map {
    padding-left: 135px;
    align-self: center;


}
.map .Restaurant_map h3{
    color: #ffff;
    font-weight: 700px;
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 16px;
    padding-top: 80px;
    
}
.map .Restaurant_map p{
    color: #ffff;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 70px;
}
.map .Restaurant_map button{
    background: none;
    border: none;
    height: 68px;
    width: 337px;
    background-color:#ffff;
    border-radius: 50px;
}
.map .Restaurant_map button a{
    text-decoration: none;
    height: 28px;
    width: 229px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

}
.map .google_map{
    padding-top: 150px;
    padding-bottom:150px ;
    padding-right: 135px;
   
}
.map .google_map iframe{
    border-radius: 10px;
     height: 483px;
    width: 470px;
}
footer .footer_grid {
    padding: 80px 135px 100px 135px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 103px;
    background-color: #191919;
}
footer .footer_grid .footer_grid_sections {
    height: 198px;
    width: 154px;
}
footer .footer_grid .footer_grid_sections h3{
    color: #ffff;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 30px;
}
footer .footer_grid .footer_grid_sections p{
    color: #ffff;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 24px;
}
footer .follow_us{
    height: 58px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#191919;
    padding-bottom:80px ;
}
footer .follow_us .social_media_icons{
    display: flex;
    gap: 20px;
    padding-left: 135px;
}

footer .follow_us .copy_rights{
    padding-right: 135px;
    color: white;
}






















